{% extends 'base.html' %}
{% block title%} Lista de Receitas {%endblock%}
{%block content%}
    <div class="container list-div">
        <h1>Lista de Receitas</h1>
        <a id="add-link" href="/newReceita">
            <div class="add-div col-2">
                <i class="fas fa-plus"></i>Nova Receita
            </div>
        </a>
        <div class="col-9 search-div">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da Receita">
            <i class="fas fa-search"></i>
        </div>
        <ul class="task-list">
            {% for receita in object_list %}
            <li class="task-item">
                <span>{{receita.nome}}</span>
                <span>{{receita.valor}}</span>
                <span>{{receita.categoria}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        ready(function () {
            document.querySelector("#btn-delete").addEventListener("click", function (e) {
                deleteFunction(e, "#itinerary-delete");
            });
      
            function deleteFunction(e, formId) {
                if (!confirm("Are you sure you want to delete?")) {
                    e.preventDefault();
                }
                else {
                    let form = document.querySelector(formId);
                    form.submit();
                }
            }
        })
        
    </script>
{%endblock%}