{% extends 'base.html' %}
{% block title%} Lista de Receitas {%endblock%}
{%block content%}
    <div class="container list-div">
        <h1>Lista de Receitas</h1>
        <a id="add-link" href="/newReceita">
            <div class="add-div col-2">
                <i class="fas fa-plus"></i>Nova Receita
            </div>
        </a>
        <div class="col-9 search-div">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da Receita">
            <i class="fas fa-search"></i>
        </div>
        <ul class="task-list">
            {% for receita in object_list %}
            <li class="task-item">
                <span><a href="/receita/{{receita.id}}">{{receita.nome}}</a></span>
                <form>
                    {% csrf_token %}
                    <span><a id="btn-delete" href="{% url 'delete-receita' receita.pk %}"><i class="fas fa-trash"></i></a></span>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja apagar a receita?</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Receitas apagadas não poderam ser recuperadas!</p>
                                </div>
                                <div class="modal-footer">
                                    <a href=""><button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button></a>
                                    <a href="/listReceita"><button type="button" class="btn btn-primary">Confirmar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <span><a href="/editReceita/{{receita.id}}"><i class="fas fa-edit"></i></a></span>
            </li>
            {% endfor %}
        </ul>
    </div>
{%endblock%}