{% extends 'base.html' %}

{%block title%}New Despesa{%endblock%}

{%block content%}
    <div id = "container-form" class="container" style="width: 60%; margin: auto; border: 2px solid #333; border-radius: 10px; background-color: #DCDCDC">
        <div class="row" style= "margin: auto;">
            <div class="col-xl-6 col-sm-12" style= "margin: auto;">
                <h3>Nova Despesa</h3> 
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-3">
                        <label style="width: 75px;">Nome:</label> {{form.nome}}
                    </div>
                    <div class="form-group mt-3">
                        <label style="width: 75px;">Valor:</label> {{form.valor}}
                    </div>
                    <div class="form-group mt-3">
                        <label style="width: 75px;">Categoria:</label> {{form.categoria}}
                    </div>
                    <input type="submit" class="btn btn-success mt-5 mb-5" value="Criar Despesa">
                </form>
            </div>

        </div>
    </div>
{%endblock%}